@page
@model OnlineBookstore.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you for purchasing from My LIT bookstore, enjoy the knowledge you will gain</h2>

    <a class="btn btn-primary text-center" asp-controller="Home">Return to Home</a>
</div>